.bod{
    font-family: sans-serif;

}
.container{
    width: 960px;
    margin: 0 auto;
}
.box{
    border: 1px dashed black;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 5px;
    
}
.image{
    text-align: center;
    margin: 0;
    width: 300px;

}
.texto{
    border-left: 1px solid black;
    padding-left: 50px;
    width: 600px;
}
.image, .texto{
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
}
footer{
    text-align: center;
    background-color: rgb(211, 211, 207);
    border-radius: 10px;
    margin: auto;
    padding: 8px;
}
footer h3{
    margin: 0;
}