body{
    padding: 0;
    background-color: rgb(255, 251, 245);
    text-align: center;
}
.card img{
    text-align: center;
    width: 200px;
    text-align: center;
}
.card{
    border: 1px solid black;
    width: 300px;
    text-align: center;
    align-items: center;
}
p{
    text-align: center;
    margin-top: 2%;
}